:root {
    --cor-fundo: rgb(236, 234, 234);
    font-size: 14px;
    --cor-fundo-card: white;
   
   }

body {
    background-color:#5c90ce;
    color: white;
    font-family: 'Roboto', sans-serif; /* Aplique a fonte Roboto e adicione uma fonte alternativa genérica */
    font-style: normal;
}

.bordasArredondadas {
    border-radius: 25%;
}

p {
    margin-bottom: 50px; /* Ajuste o valor conforme necessário */
}


/* Define o estilo para o header */
header {
    display: flex; /* Usa flexbox para disposição horizontal dos itens */
    align-items: center; /* Alinha verticalmente o avatar e o menu */
    padding: 30px; /* Adiciona algum preenchimento ao redor do header */
    background-color: #5c90ce; /* Cor de fundo para o header */
}

/* Estilo para o avatar */
.avatar {
    margin-right: 20px; /* Espaçamento entre o avatar e o menu */
}

/* Estilo para o menuPrincipal */
.menuPrincipal ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 20px; /* Remove a margem padrão */
    display: inline-block; /* Faz com que os itens da lista fiquem lado a lado */
}

.menuPrincipal li {
    margin-right: 20px; /* Espaço entre os itens do menu */
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white; /* Define a cor do texto dos links */
    font-family: 'Roboto', sans-serif; /* Aplica a fonte desejada */
    font-weight: bold; /* Aplica negrito ao texto */
    padding: 10px 15px; /* Adiciona algum preenchimento aos links */
    text-align: center;
    width: 10%;
    display: inline-block;
    
}

.menuPrincipal a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white; /* Define a cor do texto dos links */
    font-family: 'Roboto', sans-serif; /* Aplica a fonte desejada */
    font-weight: bold; /* Aplica negrito ao texto */
    padding: 10px 15px; /* Adiciona algum preenchimento aos links */
    font-size: 20px;
    text-align: center;
}



.destaques{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;     /*usar o flex wrap para responsividade sem definir medidas, não resolve.. Sem definição ele ocupa todo o espaço disponível ao inves de empilhar*/
    gap: 12px;
    padding: 25px;
    justify-content: space-around;
}

.destaques .cards{
    justify-content: center;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    width: 200px;
    height: 200px;
    /*border: 1px solid gray;*/
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    gap: 12px;
    background-color: var(--cor-fundo-card);
/*CSS TRANSFORM PROPERTY*/
    transition: 0.9s;
}

.destaques .cards:hover{
/*CSS TRANSFORM PROPERTY*/
    /*background-color: rgb(192, 14, 14);*/
    transform: scale(1.1) ;
}

.destaques .cards img {
    width: 200px;
    border-radius: 25%;
}

.destaques .cards h3 {
    text-align: center;
    color: black;
}

.page-title h2 {
    padding: 30px;
    gap: 12px;
    color: white
}

.sobre{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;     /*usar o flex wrap para responsividade sem definir medidas, não resolve.. Sem definição ele ocupa todo o espaço disponível ao inves de empilhar*/
    gap: 12px;
    padding: 25px;
    justify-content: center;
    color: black;
}

.sobre .descricao{
    justify-content: center;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    width: 300px;
    height: 300px;
    /*border: 1px solid gray;*/
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    gap: 12px;
    background-color: var(--cor-fundo-card);
/*CSS TRANSFORM PROPERTY*/
    transition: 0.9s;
}


.sobre .descricao img {
    width: 200px;
}

.sobre .descricao h3 {
    text-align: center;
}